<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Palo Alto Networks</key>
	<dict>
		<key>GlobalProtect</key>
		<dict>
			<key>Settings</key>
			<dict>
				<key>connect-method</key>
				<string>on-demand</string>
			</dict>
			<key>PanGPS</key>
			<dict>
				<key>mac-addr</key>
				<data>hbKyi4jk</data>
			</dict>
			<key>PanSetup</key>
			<dict>
				<key>CurrentVersion</key>
				<string>6.2.4-652</string>
				<key>Portal</key>
				<string>wycliffe.gpcloudservice.com</string>
				<key>InstallHistory</key>
				<string>Fresh Install</string>
				<key>PreviousVersion</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
